*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
    font-size: 4rem;
}

a:hover {
    background-color: black;
    transition: .7s ease;
    opacity: .5;
  }

header{
    background-color: slategray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 550;
    padding: 1.5rem;
    color: white;
}

.gallery{
    position: relative;
    width: 100%;
    font-family: 'Modak', cursive;
}
 
.city{
    position: relative;
}

.city-name{
    display: block;
    position: absolute;
    font-size: 4rem;
    color: darkblue;
    top: 4em;
    left: 40%;
}

.city-photo{
    display: absolute;
    width: 100%;
    height: auto;
}